/* Style de base */
.root {
    -fx-font-family: 'Arial', sans-serif;
    -fx-base: #121212; /* Couleur de fond principale de Spotify */
    -fx-background-color: #121212;
    -fx-font-size: 16;
}

.label {
    -fx-font-size: 16px;
    -fx-text-fill: white; /* Couleur du texte */
}

/* Zones de texte */
.text-field {
    -fx-background-color: #535353;
    -fx-text-fill: white;
    -fx-prompt-text-fill: #818181;
    -fx-pref-height: 25;
}

/* TitledPane */
.titled-pane {
    -fx-background-color: #282828;
    -fx-text-fill: white;
}

.titled-pane > .title {
    -fx-background-color: #1c1c1c;
    -fx-font-weight: bold;
}

.titled-pane .content {
    -fx-background-color: #121212;
}

/* Styles supplémentaires */
.buttonLine {
    -fx-spacing: 20;
    -fx-padding: 0 20 0 20;
}

/* Boutons */
.buttonLine .button {
    -fx-background-color: #1db954; /* Couleur verte de Spotify */
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-pref-width: 120;
    -fx-pref-height: 30;
}

.buttonLine .button:hover {
    -fx-background-color: #1ed760;
}

.default-spacing {
    spacing: 10;
}

 .rating > .container .button {
    -fx-pref-width: 20;
    -fx-pref-height: 20;
    -fx-background-size: cover;
    -fx-padding: 0; 
}