/* TableView */
.table-view {
    -fx-background-color: #181818;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.table-view .column-header-background {
    -fx-background-color: #282828;
}

.table-view .table-row-cell {
    -fx-background-color: #181818;
    -fx-text-fill: white;
}

.table-view .table-row-cell:filled:selected, .table-view .table-row-cell:filled:selected .text {
    -fx-background-color: #282828;
    -fx-text-fill: white;
}

.table-view .table-row-cell:even {
    -fx-background-color: #202020; /* Couleur pour les lignes alternées */
}

.table-view .cell {
    -fx-text-fill: white;
}